{% extends "admin.html" %}

{% block content %}

{% if messages %}
<div class="alert alert-danger alert-dismissable alert-link" role="alert">
<button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
    {% for message in messages %}
    <p><b>{{ message }}</b></p>
    {% endfor %}
    
</div>
{% endif %}


<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Lista de Preinscripciones</h3>
    </div>
<div class="panel-body">

    <div style="max-height: 570px; overflow-y: scroll;">
    <table class="table table-bordered table-striped table-hover" id="tabla">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th
                <th>Hora</th>
                <th>Numero</th>
                <th>Ciclo Lectivo</th>
                <th>Apellido y Nombre</th>
                <th>DNI</th>
                <th>Estado</th>
                <th>Numero de sorteo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for postulante in postulantes %}
            <tr>
                <td><a href="">{{ postulante.preinscripcion.id }}</a></td>
                <td>{{ postulante.preinscripcion.fecha }} {{ postulante.preinscripcion.hora }} hs.</td>
                <td>{{ postulante.preinscripcion.nro_de_preinscripto }}</td>
                <td>{{ postulante.preinscripcion.cicloLectivo.fecha_apertura_ciclo.year }}</td>
                <td>{{ postulante.apellido }} {{ postulante.nombre }}</td>
                <td>{{ postulante.dni }}</td>
                <td>{{ postulante.preinscripcion.estado }}</td>
                <td>{{ postulante.preinscripcion.nro_de_sorteo }}</td>           
                <td>
                <a href="{% url 'admin_preinscripcion' postulante.preinscripcion.id %}">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
                | 
                <a href="{% url 'admin_desconfirmar' postulante.preinscripcion.id %}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

</div>
</div>
{% endblock %}