{% extends "admin.html" %}

{% load auth_extras %}
{% load bootstrap3 %}

{% block filtros %}
<div class="row">
<div class="col-md-4 col-xs-12">
<div class="panel panel-default">
    <div class="panel-body" style="height: 64px;">
        <form class="form-inline" method="post">{% csrf_token %}
            <div class="form-group">
              <strong> Ciclo lectivo</strong>
              <select class="form-control input-sm" id="cl" name="cl">
                {% for clv in clvs %}

                {% if clv.fecha_apertura_ciclo.year == cl %}
                <option selected value="{{ clv.fecha_apertura_ciclo.year }}">
                    {{ clv.fecha_apertura_ciclo.year }}
                </option>
                {% else %}
                <option value="{{ clv.fecha_apertura_ciclo.year }}">
                    {{ clv.fecha_apertura_ciclo.year }}
                </option>
                {% endif %}

                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <strong>Curso</strong>
              <select class="form-control input-sm" id="anio" name="anio">
                {% for i in "1234567" %}
                <option value="{{ i }}" {% if i == anio %}selected{% endif %}>{{ i }}</option>
                {% endfor %}
              </select>
            </div>
           <button type="submit" class="btn btn-default btn-sm">Filtrar</button>
        </form>
    </div>
</div>
</div>
</div>
{% endblock %}

{% block content %}

{% if messages %}
<div class="alert alert-danger alert-dismissable alert-link" role="alert">
<button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
    {% for message in messages %}
    <p><b>{{ message }}</b></p>
    {% endfor %}
    
</div>
{% endif %}


<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">{{ titulo_plantilla }}</h3>
    </div>
<div class="panel-body">

    <div style="max-height: 570px; overflow-y: scroll;">
    <table class="table table-bordered table-striped table-hover" id="table">
        <thead>
            <tr>
                <th>Apellido y Nombre</th>
                <th>Dni</th>
                <th>Numero</th>
                <th>Estado</th>
                <th>Puntaje</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for postulante in postulantes %}
            <tr>
                <td>{{ postulante.apellido }}, {{ postulante.nombre }}</td>
                <td>{{ postulante.dni }}</td>
                <td>{{ postulante.pg.nro_de_preinscripto }}</td>
                <td>{{ postulante.pg.estado }}</td>
                <td>{{ postulante.pg.puntaje }}</td>
                <td>
                <a href="{% url 'admin_pg_show' postulante.pg.id %}">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

</div>
</div>

<script>
  $(document).ready(function() {
  setTimeout(function(){
    var availableTags = [
      "ALUMNO",
      "CONFIRMADO",
      "FEMENINO",
      "MASCULINO",
      "PREINSCRIPTO"
    ];

    $("#table_filter :input").autocomplete({
      source: availableTags
    });
  
  ;}, 1500);
  });
</script>

<script type="text/javascript">
nivel = '{{ user.profile.nivel }}';

if (nivel == 'SECUNDARIO') {
    $('#anio').find('option[value="6"]').remove(); 
    $('#anio').find('option[value="7"]').remove(); 
}

if (nivel == 'INICIAL') {
    $('#anio').find('option[value="3"]').remove(); 
    $('#anio').find('option[value="4"]').remove(); 
    $('#anio').find('option[value="5"]').remove(); 
    $('#anio').find('option[value="6"]').remove(); 
    $('#anio').find('option[value="7"]').remove(); 
}
</script>


{% load static %}

<script>
    $(document).ready(function(){

    var user          = "{{ user.get_username }}";
    var ciclolectivo  = $('#cl').val(); 
    var curso         = $('#anio').val();
    var nivel         = '{{ user.profile.nivel }}';
    
    var fc  = new Date();
    var dia = fc.getDate();
    var mes = fc.getMonth() + 1;
    var ani = fc.getFullYear();
    var fecha = dia + '-' + mes + '-' + ani;

    titulo = '{{ titulo_plantilla }}';

    mensaje = 'Emitido por: ' +  user  +' Fecha emisión: ' + fecha + '\n Ciclo Lectivo: '+ ciclolectivo + ' Nivel: '+ nivel + ' Curso: '+ curso + ' Filtrado por: ';

    table = $('#table').DataTable(
      { 
        //stateSave: true,
        order: [[ 4, "desc" ]],
        language: {
            url: "{% static 'preinscripcion/js/spanish.json' %}"
          },
        dom: '<"pull-right"B><"pull-left"f><"info-text"i>rtp',
        buttons: [
          {
            extend: 'excelHtml5',
            title: titulo,
            header: true,
            sheetName: titulo,
            message: function ( dt ) {
              return mensaje + table.search();
            },
            exportOptions: {
              columns: [ 0, 1, 2, 4], 
              }
          },
          { 
            extend: 'pdfHtml5',
            download: 'open', 
            orientation: 'landscape', 
            title: titulo,
            message: function(){
              mensaje2 = mensaje;
              mensaje2 += table.search().toUpperCase();
              mensaje2 += '\n Total: ' + table.page.info().end;
              return mensaje2;
            },
            exportOptions: {
                  columns: [ 0, 1, 2, 4], 
                },
          }
        ]
      }

      );
  });
</script>
{% endblock %}