{% extends "admin.html" %}

{% block content %}

{% if messages %}
<div class="alert alert-success alert-dismissable alert-link" role="alert">
<button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
    {% for message in messages %}
    <p><b>{{ message }}</b></p>
    {% endfor %}
</div>
{% endif %}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Agregar los ganadores</h3>
    </div>
<div class="panel-body">

    <div style="max-height: 570px;">        
    <table class="table table-bordered table-striped table-hover" id="agregar_ganadores">
        <thead>
            <tr>
                <th>Numero de sorteo</th>
                <th>Nro. de Preinscripto</th>
                <th>Postulante</th>
                <th>DNI</th>
                <th>Genero</th>                
                <th>Papá</th>
                <th>Mamá</th>
                <th>Tutor</th>
                <th>Seleccione ganador</th>
            </tr>
        </thead>
        <tbody>
        {% for pc in pcs %}
            <tr>
                <td>{{ pc.postulante.preinscripcion.nro_de_sorteo }}</td>            
                <td>{{ pc.postulante.preinscripcion.nro_de_preinscripto }}</td>
                <td>{{ pc.postulante.apellido }}, {{ pc.postulante.nombre }}</td>
                <td>{{ pc.postulante.dni }}</td>
                <td>{{ pc.postulante.genero }}</td>
                <td>{{ pc.postulante.padre.apellido }}, {{ pc.postulante.padre.nombre }}</td>
                <td>{{ pc.postulante.madre.apellido }}, {{ pc.postulante.madre.nombre }}</td>
                <td>
                {% if pc.postulante.tutor %}
                {{ pc.postulante.tutor.apellido }}, {{ pc.postulante.tutor.nombre }}
                {% endif %}
                </td>
                <td>
                    <a onclick="modal('{% url 'admin_agregar_ganador' pc.postulante.preinscripcion.id %}')" href="#">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </a>                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

</div>


</div>

{% load static %}

<script type="text/javascript">
    $(document).ready(function(){
    table = $('#agregar_ganadores').DataTable(
      { 
        bSort: false,
        language: {
            url: "{% static 'preinscripcion/js/spanish.json' %}"
        },
        dom: '<"pull-right"B><"pull-left"f><"info-text"i>rtp',
        buttons: [
          'excel',
          {extend: 'pdfHtml5', orientation: 'landscape',
          }
        ]

      }

      );
  });
</script>

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Agregar ganador</h4>
      </div>
      <div class="modal-body">
        ¿Desea agregar el postulante a la lista de ganadores?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <a href="#" class="btn btn-primary confirmar">Agregar</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
function modal($url){
    //console.log($url);
    $modal  = $('#myModal').modal();
    $link   = $('.confirmar')[0];
    $link.href = $url;
}
</script>

<!-- ./Modal -->

{% endblock %}