{% extends "admin.html" %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Lista de Postulantes</h3>
    </div>
<div class="panel-body">

    <div style="max-height: 570px; overflow-y: scroll;">
    <table class="table table-bordered table-striped" id="tabla">

        <thead>
            <tr>
                <th>Id</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Fecha de Nacimiento</th>
                <th>Edad</th>
                <th>Dni</th>
                <th>Genero</th>
                <th>Padre</th>
                <th>Madre</th>
                <th>Tutor</th>
                <th>Vive con</th>
                <th>Nro Preinsc.</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for postulante in postulantes %}

            <tr>
                <td><a href="">{{ postulante.id }}</a></td>
                <td>{{ postulante.apellido }}</td>
                <td>{{ postulante.nombre }}</td>
                <td>{{ postulante.fecha_nacimiento }}</td>
                <td>{{ postulante.edad }}</td>
                <td>{{ postulante.dni }}</td>
                <td>{{ postulante.genero }}</td>
                <td>{{ postulante.padre.apellido }}, {{ postulante.padre.nombre }}</td>
                <td>{{ postulante.madre.apellido }}, {{ postulante.madre.nombre }}</td>
                <td>{{ postulante.tutor.apellido }}, {{ postulante.tutor.nombre }}</td>
                <td>{{ postulante.vive_con.apellido }}, {{ postulante.vive_con.nombre }}</td>
                <td>{{ postulante.preinscripcion.id }}</td>  
                <td>
                <a href="{% url 'admin_preinscripcion' postulante.preinscripcion.id %}">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    </div>

</div>
</div>
{% endblock %}