{% extends "admin.html" %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Lista de Postulantes Confirmados</h3>
    </div>
<div class="panel-body">

    <div style="max-height: 570px; overflow-y: scroll;">
    <table class="table table-bordered table-striped" id="tabla">
        <thead>
            <tr>
                <th>Preinscripcion</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Fecha de Nacimiento</th>
                <th>Edad</th>
                <th>Dni</th>
                <th>Genero</th>
                <th>Padre</th>
                <th>Madre</th>
                <th>Tutor</th>
                <th>Vive con</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for pl in pls %}
            <tr>
                <td><a href="">{{ pl.postulante.preinscripcion.id }}</a></td>
                <td>{{ pl.postulante.apellido }}</td>
                <td>{{ pl.postulante.nombre }}</td>
                <td>{{ pl.postulante.fecha_nacimiento }}</td>
                <td>{{ pl.postulante.edad }}</td>
                <td>{{ pl.postulante.dni }}</td>
                <td>{{ pl.postulante.genero }}</td>
                <td>{{ pl.postulante.padre.apellido }}, {{ pl.postulante.padre.nombre }}</td>
                <td>{{ pl.postulante.madre.apellido }}, {{ pl.postulante.madre.nombre }}</td>
                <td>{{ pl.postulante.tutor.apellido }}, {{ pl.postulante.tutor.nombre }}</td>
                <td>{{ pl.postulante.vive_con.apellido }}, {{ pl.postulante.vive_con.nombre }}</td>                
                <td>
                <a href="{% url 'admin_preinscripcion' pl.postulante.preinscripcion.id %}">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

</div>
</div>
{% endblock %}