{% extends 'base.html' %}

{% block content %}

<div style="height: 500px;">

<div class="text-center landing-page"><h1>Preinscribirse a Nivel Inicial - Sala de 4 Años</h1></div>

<br>
<br>
<br>
<br>
<br>
<br>
<div style="width: 50%; margin-left: 25%">
<a href="{% url 'preinscripcion4_new' %}" class="btn btn-success btn-lg btn-block">Preinscribirse a Nivel Inicial</a>
</div>

<br>
<br>
<div style="width: 50%; margin-left: 25%">
<a href="{% url 'pg_new' %}" class="btn btn-success btn-lg btn-block">Preinscripción</a>
</div>

</div>

{% endblock %}