{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Inicio</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#222">

    <link rel="icon" sizes="192x192" href="{% static 'preinscripcion/images/ico.png' %}">
    <link rel="icon" href="{% static 'preinscripcion/images/ico.png' %}" sizes="32x32">
    <link rel="stylesheet" type="text/css" href="{% static 'preinscripcion/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'preinscripcion/css/home.css' %}" />
</head>
<body>

<div class="portada">
<img src="{% static 'preinscripcion/images/home/computer-933100_1280.jpg' %}" class="img-responsive" alt="portada">
</div>

<div class="portada-logo">
<img src="{% static 'preinscripcion/images/logo-navbar.png' %}" class="img-responsive" alt="portada-logo">
</div>

<div class="container">
<div class="row">
	
	<div class="col-md-6 col-sm-6 col-xs-12">	
	<div class="panel panel-default descripcion">
	  	<div class="panel-body">
	    <h4>Preinscripción a Nivel Inicial</h4>
	    <hr>

	    <p>
	    	La preinscripción se realiza un solo día, este año será el 1º de Agosto de 8 a 16 horas.
	    </p>
	    <p>
	    	Para acceder a las vacantes disponibles los padres deben pre-inscribir a sus hijos para que participen del sorteo de los lugares disponibles.
	    </p>
	    <p>
	    	El sorteo de las vacantes se realizará el jueves 24 de agosto, con la presencia de un Escribano Público y las autoridades de la Obra, el cual se realiza en las instalaciones del Salón Teatro de la Institución.
	    </p>

	    <p>
	    	La Obra garantiza la confidencialidad de la Información ingresada.
	    </p>

	    <div class="espacio"></div>

	   	<img src="{% static 'preinscripcion/images/home/boton-pre-inscripcion-pni.png' %}" class="
	    img-responsive btn-p">

	  	</div>
	</div>
  	</div>

  	<div class="col-md-6 col-sm-6 col-xs-12">	
  	<div class="panel panel-default descripcion">
  	<div class="panel-body">
    <h4>Preinscripción general</h4>
    <hr>

    <p>
    	Todos los datos aquí ingresados, tienen carácter de declaración jurada. Por lo tanto la falsedad, omisión o error en los mismos, provocara la pérdida de validez de la postulación.    	
    </p>

    <p>
    	Puede completar este formulario las veces que desea, pero sólo se tendrá en cuenta por la Institución el que se haya confirmado y será válido solamente para el ciclo lectivo ingresado.
    </p>
    <p>
		Una vez impreso, no puede realizarse cambios sobre el comprobante por lo que deberá volver a completarlo en caso de error u omisión de algún dato. 
    </p>

    <p>
    	La Obra garantiza la confidencialidad de la Información ingresada.
    </p>

    <img src="{% static 'preinscripcion/images/home/boton-pre-inscripcion-pg.png' %}" class="
    img-responsive btn-p">

  	</div>
	</div>
	</div>

</div>
</div>


<footer class="footer">
	<div class="container">
    	<p class="text-muted text-center">Habilitación Profesional - Grupo 2 - 2017</p>
    </div>
</footer>

</body>
</html>