{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Inicio</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#222">

    <link rel="icon" sizes="192x192" href="{% static 'preinscripcion/images/ico.png' %}">
    <link rel="icon" href="{% static 'preinscripcion/images/ico.png' %}" sizes="32x32">
    <link rel="stylesheet" type="text/css" href="{% static 'preinscripcion/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'preinscripcion/css/home.css' %}" />
</head>
<body>

<div class="portada">
<img src="{% static 'preinscripcion/images/home/computer-933100_1280.jpg' %}" class="img-responsive" alt="portada">
</div>

<div class="container">
<div class="row">
	
	<div class="col-md-6 col-sm-6 col-xs-12">	
	<div class="panel panel-default">
  	<div class="panel-body">
    <h4>Preinscripción a Nivel Inicial</h4>

    <p></p>

   	<img src="{% static 'preinscripcion/images/home/boton-pre-inscripcion-pni.png' %}" class="
    img-responsive btn-p">

  	</div>
  	</div>
  	</div>

  	<div class="col-md-6 col-sm-6 col-xs-12">	
  	<div class="panel panel-default">
  	<div class="panel-body">
    <h4>Preinscripción general</h4>

    <p></p>
    
    <img src="{% static 'preinscripcion/images/home/boton-pre-inscripcion-pg.png' %}" class="
    img-responsive btn-p">

  	</div>
	</div>
	</div>

</div>
</div>


</body>
</html>