{% extends 'admin.html' %}

{% load bootstrap3 %}

{% block ciclo %}
{% endblock %}

{% block content %}
<div class="container-fluid">

{% if messages %}
<div class="alert alert-success" role="alert">
    {% for message in messages %}
    <p><b>{{ message }}</b></p>
    {% endfor %}
</div>
{% endif %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ titulo_plantilla }}</h3>
    </div>
<div class="panel-body">

	<div class="col-sm-12 col-md-8 col-md-offset-2 well">
	<form method="POST" class="" id="" novalidate>{% csrf_token %}

	<div class="form-group">
    <label for="puntaje">Puntaje</label>
    <input type="integer" name="puntaje" class="form-control" id="puntaje" value="{{ puntaje_actual }}">
  	</div>

	<button type="submit" class="btn btn-primary" id="">Asignar</button>
	</form>
	</div>

</div>

</div>

{% load static %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}