{% load auth_extras %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% load static %}
  <link rel="icon" href="{% static 'preinscripcion/images/ico.png' %}" sizes="32x32">
	<link rel="stylesheet" type="text/css" href="{% static 'preinscripcion/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'preinscripcion/css/jquery.dataTables.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'preinscripcion/css/buttons.dataTables.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'preinscripcion/css/admin.css' %}" />
  <link rel="stylesheet" type="text/css"  media='print' href="{% static 'preinscripcion/css/print.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'preinscripcion/css/jquery-ui-autocomplete.css' %}" />


	<script src="{% static 'preinscripcion/js/jquery.min.js' %}"></script>
	<script src="{% static 'preinscripcion/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'preinscripcion/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'preinscripcion/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'preinscripcion/js/pdfmake.min.js' %}"></script>
  <script src="{% static 'preinscripcion/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'preinscripcion/js/vfs_fonts.js' %}"></script>
  <script src="{% static 'preinscripcion/js/jszip.min.js' %}"></script>
  <script src="{% static 'preinscripcion/js/jquery-ui.js' %}"></script>
  <script src="{% static 'preinscripcion/js/push.min.js' %}"></script>
  <script src="{% static 'preinscripcion/js/serviceWorker.min.js' %}"></script>

    <title>{% block title %}Administracion{% endblock %}</title>
</head>

<body>

{% block menu %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo-navbrand" href="{% url 'admin_mio' %}">Panel de Administración
      <img src="{% static 'preinscripcion/images/logo-navbar.png' %}" class='logo-admin-navbar img-responsive'>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-left">
        
        <!-- Solo accesible para usuarios con rol gestionciclolectivo -->
        {% if request.user|has_group:'gestionciclolectivo' %} 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ciclo Lectivo<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'admin_index_ciclolectivo' %}">Ver todos</a></li>
            <li><a href="{% url 'admin_alta_ciclolectivo' %}">Dar de Alta</a></li>
          </ul>
        </li>
        {% endif %}
        <!-- ./rol -->

        <!-- Solo accesible para usuarios con rol gestionpreinscripciones -->
        {% if request.user|has_group:'gestionpreinscripciones' %} 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Listados<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'admin_preinscripciones' %}">Preinscripciones</a></li>
            <li> <a href="{% url 'admin_postulantes' %}">Postulantes completo</a></li>
            <li><a href="{% url 'admin_postulantes_confirmados' %}">Postulantes confirmados</a></li>
            <li><a href="{% url 'admin_postulantes_ganadores' %}">Ganadores</a></li>
          </ul>
        </li>
        <li><a href="{% url 'admin_sorteo' %}">Listado para sorteo</a></li>
        <li><a href="{% url 'admin_agregar_ganadores' %}">Agregar ganadores</a></li>
      {% endif %}
      <!-- ./rol -->

      <!-- Solo accesible para usuarios con rol gestion_pg -->
        {% if request.user|has_group:'gestion_pg' and not request.user|has_group:'recepcion' %} 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Listados <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'admin_pg_index' %}">Preinscripciones</a></li>
            <li><a href="{% url 'admin_pg_confirmados' %}">Confirmados</a></li>
            <li><a href="{% url 'admin_pg_ranking' %}">Ranking por notas</a></li>
          </ul>
        </li>
        <li><a href="{% url 'admin_pg_confirmados' %}">Asignar vacante</a></li>
        {% endif %}
      <!-- ./rol -->

      <!-- Solo accesible para usuarios con rol recepcion -->
        {% if request.user|has_group:'recepcion' %} 
        <li><a href="{% url 'admin_pg_index_recepcion' %}">Preinscripciones Confirmadas</a></li>
        {% endif %}
      <!-- ./rol -->

      </ul>

      <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Perfil: {{ request.session.perfil_selec }} </a></li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="notif" class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Buzón <span class="caret"></span></a>
          <ul class="dropdown-menu">
            
            {% if request.user|has_group:'recepcion' %} 

            <li class="dropdown-header">Notas Generales</li>
            <li><a href="{% url 'neg_rec_index' %}">Ingresadas por Mesa de Entrada</a></li>
            <li><a href="{% url 'neg_env_index' %}">Registradas</a></li>
            <li><a href="{% url 'neg_new' %}">Registrar</a></li>
            <li role="separator" class="divider"></li>

            <li class="dropdown-header">Notas Internas</li>
            <li><a href="{% url 'ni_rec_index' %}">Recibidas</a></li>
            <li><a href="{% url 'ni_env_index' %}">Enviadas</a></li>
            <li><a href="{% url 'ni_new' %}">Registrar</a></li>
            <li role="separator" class="divider"></li>

            <li class="dropdown-header">Notas con Postulante</li>            
            <li><a href="{% url 'admin_pg_index_recepcion' %}">Registrar</a></li>

            {% else %}

            <li class="dropdown-header">Notas Generales</li>
            <li><a href="{% url 'neg_rec_index' %}">Ingresadas por Mesa de Entrada</a></li>
            <li role="separator" class="divider"></li>

            <li class="dropdown-header">Notas Internas</li>
            <li><a href="{% url 'ni_rec_index' %}">Recibidas</a></li>
            <li><a href="{% url 'ni_env_index' %}">Enviadas</a></li>
            <li><a href="{% url 'ni_new' %}">Registrar</a></li>
            <li role="separator" class="divider"></li>

            <li class="dropdown-header">Notas con Postulante</li>
            <li><a href="{% url 'admin_pg_confirmados' %}">Registrar</a></li>
            {% endif %}


          </ul>
      </li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user.get_username }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'logout_mio' %}">Salir</a></li>
          </ul>
      </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}  

<div id="content" class="container-fluid">



    <div class="col-md-12">
      {% block filtros %}{% endblock %}
	    {% block content %}{% endblock %}
	  </div>

	</div>

</div>
{% load static %}

<script>
	$(document).ready(function(){

    var user          = "{{ user.get_username }}";
    var ciclolectivo  = $('#cl').val(); 
    var curso         = $('#anio').val();
    var nivel         = '{{ user.profile.nivel }}';
    
    var fc  = new Date();
    var dia = fc.getDate();
    var mes = fc.getMonth() + 1;
    var ani = fc.getFullYear();
    var fecha = dia + '-' + mes + '-' + ani;

    titulo = '{{ titulo_plantilla }}';

    mensaje = 'Emitido por: ' +  user  +' Fecha emisión: ' + fecha + '\n Ciclo Lectivo: '+ ciclolectivo + ' Nivel: '+ nivel + ' Curso: '+ curso + ' Filtrado por: ';

    tabla = $('#tabla').DataTable(
      { 
        //stateSave: true,
        language: {
            url: "{% static 'preinscripcion/js/spanish.json' %}"
          },
        dom: '<"pull-right"B><"pull-left"f><"info-text"i>rtp',
        buttons: [
          {
            extend: 'excelHtml5',
            title: titulo,
            header: true,
            sheetName: titulo,
            messageTop: function ( dt ) {
              return mensaje + tabla.search();
            },
            exportOptions: {
              columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
              }
          },
          { 
            extend: 'pdfHtml5',
            download: 'open', 
            orientation: 'landscape', 
            title: titulo,
            message: function(){
              mensaje2 = mensaje;
              mensaje2 += tabla.search().toUpperCase();
              mensaje2 += '\n Total: ' + tabla.page.info().end;
              return mensaje2;
            },
            exportOptions: {
                  columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 
                },
          }
        ]
      }

      );
  });

  //agregar link active bootstrap
  $(document).ready(function() {
  $('li.active').removeClass('active');
  $('a[href="' + location.pathname + '"]').closest('li').addClass('active'); 
  });
</script>

<script>
  $(document).ready(function() {
  setTimeout(function(){
    var availableTags = [
      "ALUMNO",
      "CONFIRMADO",
      "FEMENINO",
      "MASCULINO",
      "PREINSCRIPTO"
    ];

    $("#tabla_filter :input").autocomplete({
      source: availableTags
    });
  
  ;}, 1500);
  });
  </script>

  <!-- push notifications -->
<script type="text/javascript">

  function push($title, $body, $id){

    $push = Push.create($title, {
    body: $body,
    icon: "{% static 'preinscripcion/images/logo-navbar.png' %}",
    timeout: 4000,
    onClose: function () {
        window.focus();
        this.close();
        
        $.ajax({
            url: "{% url 'ne_desactivar_notif' %}",
            data: { 'pid' : $id },
            success: function (data) {}
            }
        );
      }
    });

  };

$.ajax({
  url: "{% url 'ne_notificacion' %}",
  dataType: 'json',
  success: function (data) {
    if(data.length > 0){
      $('#notif').addClass('text-red');
      $('#notif').html("<span class='badge'>"+data.length+"</span>");
      
      $.each(JSON.parse(JSON.stringify((data))), function (i, item) {
        var title = item.emisor + ' ' + item.fecha_emision
        var body = item.estado +'\n'+ item.motivo;
        var id = item.id;
        push(title, body, id );
      });
    }
  }
});

</script>

</body>
</html>