{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#222">

    <link rel="icon" sizes="192x192" href="{% static 'preinscripcion/images/ico.png' %}">
    <link rel="icon" href="{% static 'preinscripcion/images/ico.png' %}" sizes="32x32">
    <link rel="stylesheet" type="text/css" href="{% static 'preinscripcion/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'preinscripcion/css/jquery-ui.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'preinscripcion/css/mio.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'preinscripcion/css/cards.css' %}" />

    <script src="{% static 'preinscripcion/js/jquery.min.js' %}"></script>
    <script src="{% static 'preinscripcion/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'preinscripcion/js/jquery-ui.js' %}"></script>
    <script src="{% static 'preinscripcion/js/base.js' %}"></script>

    <title>{% block title %}Preinscripciones{% endblock %}</title>
</head>

<body style="background-image: url({% static 'preinscripcion/images/otro.jpg' %});">
    <div id="content" class="container">
    <div class="img-logo">
    <a href="{% url 'landing_page' %}">
    <img src="{% static 'preinscripcion/images/logo.png' %}">
    </a>
    </div>
    {% block content %}{% endblock %}
    </div>
</body>
</html>