body {
	background-image: url('../images/fondo-admin.jpg');
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
}

.panel-info{
-webkit-box-shadow: 0px 0px 15px -4px rgba(66,65,66,0.48);
-moz-box-shadow: 0px 0px 15px -4px rgba(66,65,66,0.48);
box-shadow: 0px 0px 15px -4px rgba(66,65,66,0.48);
}

.navbar-default{
	background-color: #015bb5;
	border-color: #015bb5;
	border-radius: 0px;
	margin-bottom: 3%;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a , .navbar-default .navbar-brand{
	color: white;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover{
	color: white;
}

.container-fluid{
	#width: 95%;
}

.logo-admin{
	width: 30%;
    height: 30%;
    margin-left: 30%;
}

.logo-admin-navbar{
	width: 100px;
    height: 70px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.logo-navbrand{
	padding-left: 100px;
}


## funky radio
.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}
## ./funky radio


## dropdown nested
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -1px;
}
## ./dropdown nested


.glyphicon-eye-open {
	font-size: 18px !important;
}

.glyphicon-ok {
	font-size: 18px !important;
}


.glyphicon-remove {
	color: #a94442;
}

.text-red{
	color: red;
}

.info-text{
	float: left!important;
	font-size: 1em !important;
	font-weight: bold !important;
	margin-top: -0.5em !important;
	margin-left: 1em !important;
}

.modal-confirm{
	top: 30vh;
}