<div class="row">
  
<div class="col-md-1 col-sm-12 col-xs-12">
  
</div>


<div class="col-md-8 col-sm-12 col-xs-12">
<form class="form-inline">
  Filtros:
  <div class="form-group form-group-sm">
    <label class="sr-only" for="desde">Desde</label>
    <input type="date" class="form-control" id="desde" placeholder="Desde" min="2015-01-01" max="2020-04-30">
  </div>
  <div class="form-group form-group-sm">
    <label class="sr-only" for="hasta">Hasta</label>
    <input type="date" class="form-control" id="hasta" placeholder="Hasta" min="2015-01-01" max="2020-04-30">
  </div>
  <div class="form-group form-group-sm">
    <label class="sr-only" for="estado">Estado</label>
    <input type="text" class="form-control" id="tracking" placeholder="Estado">
  </div>
  <div class="form-group form-group-sm">
    <label class="sr-only" for="tracking">N° de Tracking</label>
    <input type="integer" class="form-control" id="tracking" placeholder="N° de Tracking">
  </div>
  <button type="submit" class="btn btn-default btn-sm">Filtrar</button>
</form>
</div>
</div>