{% load auth_extras %}
<!--

		<ul class="nav nav-tabs nav-tabs-menu" id="setng">
		{% if request.user|has_group:'recepcion' %} 
            <li><a href="{% url 'neg_rec_index' %}">Ingresadas por Mesa de Entrada</a></li>
            <li><a href="{% url 'neg_env_index' %}">Registradas</a></li>
            <li><a href="{% url 'neg_new' %}">Registrar</a></li>
            <li><a href="{% url 'admin_pg_index_recepcion' %}">Asociar Nota a Postulante</a></li>
        {% else %}
            <li><a href="{% url 'neg_new' %}">Registrar</a></li>
            <li><a href="{% url 'admin_pg_confirmados' %}">Asociar Nota a Postulante</a></li>
        {% endif %}
		</ul>
	
    
    	<ul class="nav nav-tabs nav-tabs-menu" id="setni">
			<li><a href="{% url 'ni_rec_index' %}">Recibidas</a></li>
          	<li><a href="{% url 'ni_env_index' %}">Enviadas</a></li>
          	<li><a href="{% url 'ni_new' %}">Registrar Nueva</a></li>
		</ul>
-->
<div class="tabbable">
    <ul class="nav nav-tabs nav-tabs-menu">
        <li class="active"><a href="#tab1" data-toggle="tab">Notas Generales</a></li>
        <li><a href="#tab2" data-toggle="tab">Notas Internas</a></li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane" id="tab1">
            <div class="tabbable">
                <ul class="nav nav-tabs nav-tabs-menu">                    
                    {% if request.user|has_group:'recepcion' %} 
		            <li class="active"><a href="{% url 'neg_rec_index' %}">Ingresadas por Mesa de Entrada</a></li>
		            <li><a href="{% url 'neg_env_index' %}" >Registradas</a></li>
		            <li><a href="{% url 'neg_new' %}">Registrar</a></li>
		            <li><a href="{% url 'admin_pg_index_recepcion' %}">Asociar Nota a Postulante</a></li>
		        	{% else %}
		            <li class="active"><a href="{% url 'neg_new' %}">Registrar</a></li>
		            <li><a href="{% url 'admin_pg_confirmados' %}">Asociar Nota a Postulante</a></li>
		        	{% endif %}

                </ul>
            </div>
        </div>
        
        <div class="tab-pane" id="tab2">
            <div class="tabbable">
                <ul class="nav nav-tabs nav-tabs-menu">
                    <li><a href="{% url 'ni_rec_index' %}">Recibidas</a></li>
          			<li><a href="{% url 'ni_env_index' %}">Enviadas</a></li>
          			<li><a href="{% url 'ni_new' %}">Registrar Nueva</a></li>
                </ul>
            </div>
        </div>

    </div>

</div>