{% extends 'admin.html' %}

{% load bootstrap3 %}

{% block ciclo %}
{% endblock %}

{% block content %}
<div class="container">

{% if messages %}
<div class="alert alert-success" role="alert">
    {% for message in messages %}
    <p><b>{{ message }}</b></p>
    {% endfor %}
</div>
{% endif %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ titulo_plantilla }}</h3>
    </div>
<div class="panel-body">

	<div class="col-sm-12 col-md-6 col-md-offset-3 well">
	<form method="POST" class="" id="" novalidate>{% csrf_token %}
	{% bootstrap_form neg %}
	<button type="submit" class="btn btn-primary" id="">Crear</button>
	</form>
	</div>

</div>

</div>
{% endblock %}