{% extends 'admin.html' %}

{% block ciclo %}
{% endblock %}

{% block content %}
<div class="container">

{% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissable alert-link" role="alert">    
  <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
    <p><b>{{ message }}</b></p>
  </div>
  {% endfor %}
{% endif %}


<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">{{ titulo_plantilla }}</h3>
        <a class="btn btn-default btn-sm pull-right" style="margin-top: -23px" href="#">
  			<span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimir
		  </a>
    </div>
<div class="panel-body">


  <div class="panel panel-info">
  <div class="panel-body">

  	<h4>Fecha: <b> {{ ne.fecha_emision }}</b></h4>
    <h4>N° de tracking: <b> {{ ne.nro_de_tracking }}</b></h4>
  	<h4>Emisor:<b> {{ ne.emisor }}</b></h4>
  	<h4>Destino:<b> {{ ne.destino }}</b></h4>
    <h4>Estado:<b> {{ ne.estado }}</b></h4>
    <h4>Preinscripcion:<b> {{ ne.notap.pg.nro_de_preinscripto }}</b></h4>
    <h4>Contenido</h4>
    <div class="well">
      {{ ne.motivo|safe }}
    </div>

  </div>
  </div>

  

	<hr>

  <a onClick="javascript:history.go(-1);" class="btn btn-default">Volver</a>
  
  <a onclick="modal('{% url 'ne_recibida' ne.id %}', 'Marcar como Recibida')" href="#" class="btn btn-primary">Recibida</a>
  <a onclick="modal('{% url 'ne_tramite' ne.id %}', 'En Trámite')" href="#" class="btn btn-info">En Trámite</a>
  <a href="{% url 'ne_derivar' ne.id %}" class="btn btn-warning">Derivar</a>
  <a onclick="modal('{% url 'ne_rechazar' ne.id %}', 'Marcar como rechazada')" href="#" class="btn btn-danger">Rechazar</a>
  
</div>

</div>

</div>

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm modal-confirm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><!-- titulo modal--></h4>
      </div>
      <div class="modal-body">
        <p id="modal-accion">¿Desea confirmar la acción?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <a href="#" class="btn btn-primary confirmar">Confirmar</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
function modal($url, $titulo){
    $modal  = $('#myModal').modal();
    $link   = $('.confirmar')[0];
    $link.href = $url;
    $modal_title = $('.modal-title')[0];
    $modal_title.innerText = $titulo;
}
</script>

<!-- ./Modal -->
{% endblock %}