{% extends 'admin.html' %}

{% block ciclo %}
{% endblock %}

{% block content %}
{% load static %}

<div class="container">

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">{{ titulo_plantilla }}</h3>
        <a class="btn btn-default btn-sm pull-right" style="margin-top: -23px" onclick="window.print()">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimir
        </a>
    </div>
<div class="panel-body">

    <h4>Apellidos y nombres: <b>{{ postulante.apellido }} {{ postulante.nombre }}</b></h4>
    <h4>DNI N°.: <b>{{ postulante.dni }}</b></h4>
    <h4>Fecha: <b>{{ fecha_actual }} hs.</b></h4>
    <h4>Emitido por: <b>{{ user_logueado }}</b></h4>
    <br>
    <h5><i>*Ordenado por: Ciclo Lectivo, Nivel y Curso</i></h5>

    {% for corte in resultado %}

       <h4>Ciclo Lectivo: <b>{{ corte.0.cicloLectivo }}</b></h4> 
       <h4>Nivel: <b>{{ corte.0.nivel }}</b></h4>
       <h4>Curso: <b>{{ corte.0.anio }}</b></h4>
       <h4>Cantidad de notas presentadas <b>{{ corte.1 | length }}</b></h4>
       <br>
    {% endfor %}

</div>
</div>
</div>

{% endblock %}